<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>{{ folder }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">{{ folder }}</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-list>
    <form [formGroup]="userForm" (ngSubmit)="onSubmit()" novalidate>
      <ion-item>
        <ion-label>PARTY</ion-label>
        <ion-select formControlName="PARTY" placeholder="Select One">
          <ion-select-option *ngFor="let party of partyList; let i = index" [value]="party.PARTY">{{party?.PARTY}}</ion-select-option>
        </ion-select>
      </ion-item>

      <ion-item>
        <ion-label position="floating">Remarks</ion-label>
        <ion-input formControlName="REMARKS" placeholder="Enter Remarks"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label>Image</ion-label>
        <input type="file" formControlName="Image"  #filePicker (change)="onFileChoose($event)" />
      </ion-item>

      <ion-item>
        <ion-label position="floating">Follow Date</ion-label>
        <ion-input formControlName="FOLLOWDT" placeholder="Enter date"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label>Follow Action</ion-label>
        <ion-select formControlName="FOLLOWACTION" placeholder="Select One">
          <ion-select-option  *ngFor="let action of actionList?.FOLLOWUP; let i = index" [value]="action.NAME">{{action?.NAME}}</ion-select-option>
        </ion-select>
      </ion-item>

      <ion-item>
        <ion-label>Current Call Type</ion-label>
        <ion-select formControlName="currentcalltype" placeholder="Select One">
          <ion-select-option *ngFor="let action of actionList?.CURRENT_CALL_TYPE; let i = index" [value]="action.NAME">{{action?.NAME}}</ion-select-option>
        </ion-select>
      </ion-item>
      <ion-button type="submit" expand="full" shape="round">Save</ion-button>
    </form>
  </ion-list>
</ion-content>

