<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>List</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content force-overscroll="true" scroll="true">

  <ion-item *ngFor="let list of listArray">
    <ion-label>
      <div>Party :{{list?.PARTY}}</div>
      <div>Remarks :{{list?.REMARKS}}</div>
      <div>Follow Date : {{list?.FOLLOWDT}}</div>
      <div>Follow Action : {{list?.FOLLOWACTION}}</div>
      <div>Current Call Type : {{list?.currentcalltype}}</div>
      <div style="color: red;">
        {{list?.error}}
      </div>
    </ion-label>

  </ion-item>

</ion-content>
