<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>List</ion-title>
  </ion-toolbar>
</ion-header>


<ion-content>
  <ion-button  (click) ="syncData()" >Sync</ion-button>
  
  <div *ngIf="paryList.length > 0">
    <p>Parties synced successfully </p>
  </div>
  <div *ngIf="actionList.length > 0">
    <p>Call type synced successfully </p>
  </div>
</ion-content>
